@model IEnumerable<fullMVCformvalidation.Models.Meal>
@{
    ViewData["Title"] = "Meals overview";
}

<h2>Meals overview</h2>

<p>
    <a asp-action="Create">Add new meal</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach(var meal in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(model => meal.Id)
            </td>
            <td>
                @Html.DisplayFor(model => meal.Name)
            </td>
            <td>
                @Html.DisplayFor(model => meal.Type)
            </td>
            <td>
                @Html.DisplayFor(model => meal.Price)
            </td>
        </tr>
        }
    </tbody>
</table>

